*~
*.hi
*.o
cabal.sandbox.config
.cabal-sandbox/
.stack-work/
chart/dist/
chart-gtk/dist/
chart-cairo/dist/
chart-diagrams/dist/
chart-simple/dist/
chart-tests/dist/
chart-tests/output/
dist-newstyle/
.ghc.environment.*
cabal.project.local
